<!DOCTYPE HTML>
<html>
    <head>
        <!-- Javascript Files -->
        <script type="text/javascript" src="../static/js/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../static/js/codemirror.js"></script>
        <script type="text/javascript" src="../static/js/python.js"></script>
        <script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>

        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.min.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/codemirror.css" />
        <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.theme.min.css">
        <link rel="stylesheet" type="text/css" href="../static/css/jquery-ui.structure.min.css">

        <style>
        #editorDiv{
            margin: 50px 10px 50px 10px;
            border-top:1px solid #AAA;
            border-bottom:1px solid #AAA;
        }
        a{
            color:black;
        }
        a:hover{
            text-decoration: none;
        }
        </style>
    </head>
    <body>
        <div id="popupbox" title="Upload File(s)"></div>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.popup').click(function(e){
                    e.preventDefault();
                    $("#popupbox").load($(this).attr("href"), function(){
                         //sets popup box to be at the top and have a certain width
                        $("#popupbox").dialog({
                            autoOpen: false,
                            width:450,
                        });
                        $("#popupbox").dialog("open");   
                        $(".closedialog").click(function(e){
                            e.preventDefault();
                            $("#popupbox").dialog("close");
                            return false;
                        });    
                    });
                    return false;
                });

                $("#save_content").click(function(e){
                    e.preventDefault();
                    var text_data = editor.getValue();
                    $.ajax({
                        type:"POST",
                        url:"../models/pycomp.php",
                        data: {"content": text_data},
                        dataType:"json",
                        success:function(data){
                            console.log('Content posted.');
                            console.log(data);
                        },
                        error:function(err){
                            console.log(err);
                        }
                    });
                });
            });

        </script>
        <nav class = "navbar navbar-default" role="navigation">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="../index.php">Devernote</a></li>
                    <li><a href="browser.html">Projects</a></li>
                    <li><a href="work.html">Text Editor</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login.html">Login</a></li>
                </ul>
            </div>
        </nav>

        <h1>Editor</h1>
        <div id="editorDiv">
            <textarea id="textEditor"># your code goes here</textarea>
            <script type="text/javascript">
            var editor = CodeMirror.fromTextArea(document.getElementById("textEditor"),{
                mode: "python"
            });
            </script>
        </div>
        <button class = "btn btn-default" id="save_content">Save</button>
        <button class = "btn btn-default"><a href="../templates/popup.html" class="popup">Upload File</a></button>
    </body>
</html>